<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header align-items-center d-flex justify-content-center">
               <h1>Check In</h1> 
            </div>
            <div class="card-body ">
                Id:  
                    <input type="text" name="id"></br>
                <br>
                Flight Id:    
                    <input type="text" name="flightId"></br>
                <br>
                <a href="/">
                <button class="btn btn-primary btn-block btn-sm">Check In</button>
                </a>
                    
                
            </div>
        </div>
    </div>
</div>
