<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header align-items-center d-flex justify-content-center">
               <h1>Clients</h1> 
            </div>
            <div class="card-body ">
                
                    
                <a href="/">
                <button class="btn btn-primary btn-block btn-sm">Manage Client Information</button>
                </a>
                <br>
                <a href="/">
                <button class="btn btn-primary btn-block btn-sm">Buy Tickets</button>
                </a>
                <br>
                <a href="/">
                <button class="btn btn-primary btn-block btn-sm">Check In</button>
                </a>
                <br>
                <a href="/">
                <button class="btn btn-primary btn-block btn-sm">Client Flights</button>
                </a>
                    
                
            </div>
        </div>
    </div>
</div>
