<div class="row">
<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>New Flight</h3>
    </div>
    <div class="card-body">
            <form action="/flights/createFlight" method="POST">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name">
                </div>

                 <div class="form-group">
                    <label>Origin</label>
                    <select name="origin" id="origin"></select>
                </div>

                <div class="form-group">
                    <label>Destination</label>
                    <select name="destination" id="destination"></select>
                </div>

                Select Airline: <select name ="idAirline" id ="idAirline">
                {{#each airlinesFound}}
                    <option value={{id}}>{{name}}</option>
                </div>
                {{/each}}
                </select>   </br> 
                                

                <div class="form-group">
                    <label>itinerary</label>
                    <textarea name="itinerary"></textarea>
                </div>

                <div class="form-group">
                    <label>Date</label>
                    <input type="datetime-local" name="dateTime">
                </div>

                <div class="form-group">
                    <label>Restrictions</label>
                    <input type="text" name="restrictions" placeholder="Restrictions">
                </div>
                <div class="form-group">
                    <label>Services</label>
                    <input type="text" name="services" placeholder="Services">
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select name ="status" id ="status">
                        <option value="Ontime">On Time</option>
                        <option value="Delayed">Delayed</option>
                        <option value="Canceled">Canceled</option>     
                    </select>
                </div>
                <div class="form-group">
                    <label>Maximium Capacity</label>
                    <input type="number" min="0" step="1" name="maximumCapacity">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" min="0" name="price">
                </div>
                <div class="form-group">
                    <button class="bton btn-primary btn-block" type="submit">
                        Register Flight
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script src="/javascript/countriesStates.js"></script>
<script language="javascript"> 
    populateCountries("origin"); 
    populateCountries("destination"); 
</script>