<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Edit Airlines</h3>
        </div>
        <div class="card-body">
            <form action="/airlines/modify-airline/{{airlineFound._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                ID:
                    <input type="text" name="id" value="{{airlineFound.id}}"><br>
                Airport ID:
                    <input type="text" name="idAirport" value="{{airlineFound.id}}"></br>
                Name:
                    <input type="text" name="name" value="{{airlineFound.name}}"></br>

                Countries: 
                    <select id="country" name="countries" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <button class="bton btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
</div>