<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>New Airline</h3>
    </div>

    <div class="card-body">
            <form action="/airlines/new-airline" method="POST">
            <div class="form-group">
                ID:
                    <input type="" name="id"><br>
                Airport ID:
                    <input type="text" name="idAirport"></br>
                Name:
                    <input type="text" name="name"></br>

                Select Country: <br>
                    <select id="country" name="countries" multiple="multiple"></select>

            </div>
            <div class="form-group">
                <button class="bton btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
