<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Account Login</h1>
            </div>
            <div class="card-body">
                <form action="/" method='POST'>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email" value={{email}}>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control" value={{password}}>
                    </div>
                    <div class="form-group">
                        <select name ="typeUser" id ="typeUser">
                            <option value="Client">Client</option>
                            <option value="Employee">Employee</option>
                            <option value="Manager">Manager</option>     
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </form> 
                <form  action="/clients/signUpClients" method='GET'>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign Up Client</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>