<form>
    <br>
    &emsp;
    <input class="bton btn-primary" type="button" value="Back" onclick="history.back()" style='width:130px; height:50px'>
    &emsp; &emsp;
    <a href="/" class="btn btn-primary btn-sm" style='width:130px; height:50px; background: #f00; text-align: center'>Log Out</a>
</form>