<div class="row">
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">

    <tr>
    <th scope="row">Destination</th>
    <th>Quantity of Visitors</th>
    </tr>
        {{#each resultsFound}}

    <tr>
        <td>{{destinationName}}</td>
        <td>{{quantityTickets}}</td>
    </tr>

</table>
</div>