<div class="row">
<div class="mx-auto">
    <h3>Most Visited Destinations</h3>
</div>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">

    <tr>
    <th scope="row">Destinations</th>
    <th>Visitors</th>
    </tr>

        {{#each foundResults}}

    <tr>
        <td>{{destinationName}}</td>
        <td>{{visitors}}</td>
    </tr>
    {{/each}}

</table>
</div>