<div class="row">
<div class="mx-auto">
    <h3>Passengers' Tickets Range</h3>
</div>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">

    <tr>
    <th scope="row">ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Range (Min-Max)</th>
    </tr>

        {{#each passengersTicketsRanges}}

    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{lastName}}</td>
        <td>{{range}}</td>
    </tr>
    {{/each}}

</table>
</div>